<!DOCTYPE html>
<html lang="en">
<body style="background-color:lightpink;">
<picture>
    <centre>
  <img src="/static/SitePictures/ciber2.jpg" alt="Web Assignment" style="width:auto;">
        </centre>
</picture>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My_Project</title>
</head>
<body>
    <form method="POST">
        Email: <input type="email" name="email">
        Password: <input type="password" name="password">
       <a href="http://127.0.0.1:5000/login?next=%2Fprofile" class="button--style-red">Submit</a>
    </form>
    <p><B1>Web-Security Assiginment</B1></p>
    <p>This website is for educational purposes DO NOT enter personal data .</p>
</body>
</html>
